<div class="container pt-3">
  <h1>My lists </h1>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
  <%= link_to 'Create a movie list', new_list_path %>
</div>
